#cc-demo-container {
  width: 100%;
}

#cc-demo {
  height: 500px;
  width: 40%;
  display: block;
  float: left;
  background-color: rgb(0,0,0,0);
}

#transaction_log {
  height: 500px;
  width: 40%;
  border:  dashed 1px gray;
  display: block;
  float: right;
  font-size: 9px;
  font-family: "courier";
  overflow-y: scroll;
}


#cc-controls {
  margin-top: 20px;
}

.control-group {
  width: 100%;
  padding: 10px 0px;
  height: 60px;
}

.control-group .label {
  float: left;
  font-size: 1.5rem;
  height: 100%;
  line-height: 100%;
  width: 25%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.control-group .slider {
  width: 70%;
}
.control-group .slider li {
  margin: 0;
}

.control-group .e-control-wrapper.e-slider-container.e-horizontal {
  float: left;
  height: 100%;
  width: 70%;
}
